*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    color: aliceblue;
}
nav{padding: 2vw 3vw;
   
    display: flex;
    z-index: 100;
    width: 100%;
   position: fixed;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    height: 10vh;
}
nav h1{
    font-size: 2vw;
}
.nav-part2 h4{
    font-size: 1vw;
    margin-bottom: 3vw;
    text-transform: uppercase;
}
.nav-part2{
    display: flex;
    gap:2vw;
    position: relative;
    z-index: 10;
  
}

nav button{
    background-color: green;
    border-radius: 30px;
    padding: 1vw 2vw;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 0.8vw;
}
 
.nav-bottom{
    width: 79%;
    position: absolute;
   top: 100%;
   border-bottom: 2px solid gray;
   background-color: black;
   height: 0%;
   
   
   
  

}

.nav-elem h5{
  
    display: none;
    margin-bottom: 20px;
    overflow: hidden;
    
 
    height: 29px;
   

}
.nav-elem h5 span{
    display: inline-block;
    font-weight: 500;
  position: relative;
  
  
   font-size: 1vw;
    
   
    
    
}
.page1{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
 
}
.page1 h1{
    z-index: 1;
    font-weight: 800;
    font-size: 9vw;
    line-height:100px ;
    
}
.page1 h2{
    z-index: 1;
    
    font-weight: 800;
    font-size: 8.5vw;
}

.page1 p{
 margin-top: 5%;
    letter-spacing: 1px;
    font-size: 1vw;
    line-height: 1.5;
    text-align: center;
    width: 40%;
}
p span{
    text-align: center;
    border: 1px solid white;
    padding: 2px 3px;
    border-radius: 20px;
}


.moving {
    position: absolute;
    width: 40%;
    overflow: hidden;
    top: 90%;
    white-space: nowrap;
    gap: 3vw;
    display: flex;
   
}

.moving .blur-left {
    position: absolute;
    width: 20%;
    height: 100%;
   z-index: 1;
    top: 0;
    left: 0;
    background:linear-gradient(to left,transparent,black);
}
.moving .blur-right{
    position: absolute;
    width: 20%;
   z-index: 1;
   
    height: 200%;
   
    margin-left: 80%;
    background:linear-gradient(to right,transparent,black);
}
.moving img{

    height: 50px;
    width: 50px;
 
}
.imges {
    display: flex;
    gap: 4vw;
    position: relative; 
    align-items: center;
    animation: go;
    animation-timing-function: linear;
    animation-duration: 9s;
    animation-iteration-count: infinite;
   
    
}

@keyframes go {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

/* page 2 */

.page2{
    height: 100vh;
    width: 100%;
   background-color: black;
    position: relative;
    padding:6vw 5vw;
    display: flex;
    justify-content: space-between;
}
.page2_left{
    height: 100%;
    width: 40%;
    
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;


}
.page2_left p{
    font-size: 18px;
    width: 30%;
    letter-spacing: 0.5px;
}
.page2_left h5{
    float: left;
    font-size: 18px;
    width: 70%;
    letter-spacing: 0.5px;
    padding-bottom: 3vw;
}
.page2_right{
    height: 100%;
    width: 50%;
    

}
.right-elem{
    position: relative;
height:18vh;
display: flex;
padding: 1vw 1vw;
border-bottom: 2px solid gray;
}

.right-elem img{
    object-fit: fill;
    opacity: 0;
    scale: 0;
    position: absolute;
    width: 8vw;
    left: 0;
    top: 0;
    height: 8vw;
    border-radius: 50%;
}
.right-elem h2{
    
    top: 0;
    left: 0;
    padding: 1vw 1vw;
   
    position: absolute;
    z-index: 1;
}

/* page 3  */

.page3{
    height: 100vh;
    width: 100%;
    background-image: url("https://img.freepik.com/free-photo/psychedelic-paper-shapes-with-copy-space_23-2149378246.jpg?ga=GA1.1.794661657.1740476581&semt=ais_hybrid");
    object-fit: cover;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: aliceblue;
    text-align: center;
    display: flex;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    justify-content: center;
    align-items: center;
    position: relative;
}
.play::after{
    content: "Play This Song";
    position: absolute;
    width: 110%;
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 0%;
    overflow: hidden;
    opacity: 0;
    transition: all 1s ease;
    background-color: aqua;
    top:110%;
}

.play:hover::after{
    height: 30%;
        opacity: 1;
}

.page3 video{
position: absolute;
z-index: 100;
width: 100%;
object-fit: cover;
height: 100%;

transform: scaleX(0.7) scaleY(0);
opacity:0;
border-radius: 30px;


}
/* page4  */
.page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 2vw 4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   background-color: black;
}
.sec1{
    height: 50%;
    width: 100%;
    display: flex;
    padding: 2vw 1vw;
    flex-direction: row;
    gap:4vw;
    justify-content: center;
}
.left-sec{
    border-top: 2px solid white;
    height: 100%;
    width: 25%;
   
    padding:2vw 2vw;
    

}
.right-sec{
   position: relative;
    height: 65vh;
    width: 60%;
    background-color: yellow;  
   
    

}
.right-sec img{
    position: absolute;
    height: 100%;
    width:100%;
    object-fit: cover;
    z-index: 99;
}
.right-sec video{
    height: 100%;
    position: absolute;
    width:100%;
    object-fit: cover;

}
.left-sec p{
    margin-top: 30%;
}